/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../img/icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.NotificationBox {
  background-color:red;
  border-radius:100%;
  padding:0px;
  width: 20px;
  height:20px;
  text-align:center;
  margin-top:-30px;
  margin-left:20px;
}

.NotificationNumber {
  color:white;
  position:absolute;
  top:-1px;
  right: 6px;
  font-size:12px;
}

@media only screen and (max-width: 600px) {
	.NotificationNumber {
  color:white;
  position:absolute;
  top:-6px;
  right: 6px;
  font-size:12px;
}
}

.marcadaagua{
	height: 50%;
	margin-left:-70px;
	margin-top:50px;
	opacity:20%;
}

.logouvv{
	position: absolute;
	height:35px;
  width:100px;
  bottom:10%;
  left:200px;
}