<div class="container">
    <div class="row valign-wrapper">
        <div class="col s11">
            <form>
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input id="search" onkeyup="Buscando()" type="text" placeholder="Buscar...">
                </div>
            </form>
        </div>
        <div class="col s1">
            <button data-target="modal_cadastrar_material" class="btn modal-trigger waves-effect waves-light"><i
                    class="material-icons">add</i></button>
        </div>
    </div>
    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th>Material</th>
                    <th class="center-align">Embalagem</th>
                    <th class="center-align">Quantidade</th>
                    <th class="center-align">Un. de Med.</th>
                </tr>
            </thead>

            <tbody id="table">
            </tbody>
        </table>
    </div>

    <!-- MODAL -->
    <div id="modal_cadastrar_material" class="modal">
        <div class="modal-content">
            <h3>Cadastrar Novo Produto</h3>
            <form>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="nome_material" type="text" class="validate" required>
                        <label for="nome_material">Nome do Produto:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="embalagem" type="text" class="validate">
                        <label for="embalagem">Embalagem:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="quantidade" type="text" class="validate">
                        <label for="quantidade">Quantidade:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select id="medida">
                            <option value="" selected></option>
                            <option value="Unidades">Unidades</option>
                            <option value="ML">ML</option>
                            <option value="Litro">Litro</option>
                            <option value="Kg">Kg</option>
                            <option value="Gramas">Gramas</option>
                            <option value="Gramas/ML">Gramas/ML</option>
                            <option value="Metros">Metros</option>
                            <option value="CM">CM</option>
                            <option value="UM">UM</option>
                        </select>
                        <label>Unidade de Medida:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="observacoes" class="materialize-textarea validate"></textarea>
                        <label for="observacoes">Observações:</label>
                    </div>
                </div>
                <div id="DialogText"></div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-close waves-effect waves-light btn" id="botao_cadastrar">
                <i class="material-icons left">check</i>
                <span>Cadastrar</span>
            </button>
        </div>
        <script>
            var materiais = <%- Materiais %>;
            Buscando();
            
            function Buscando()
            {
              var Encontrados = materiais.filter(Material => Material.Nome.toUpperCase().includes(document.getElementById("search").value.toUpperCase()));
              var Codigo = "";
              for(c = 0; c < Encontrados.length; c++)
              {
                    Codigo += "<tr><td>" + Encontrados[c].Nome + 
                    "</td> <td class='center-align'>" + Encontrados[c].Embalagem + 
                    "</td> <td class='center-align'>" + Encontrados[c].Quantidade +
                    "</td> <td class='center-align'>" + Encontrados[c].Medida + "</td></tr>"; 
              }
             document.getElementById("table").innerHTML = Codigo;
            }
            
            $(document).ready(function () {
                $('select').formSelect();
                $('.modal').modal();
            });

            $('#botao_cadastrar').on('click', function () 
            {
                var data = 
                {
                   "Nome": $("#nome_material").val(),
                   "Embalagem": $("#embalagem").val(),
                   "Quantidade": $("#quantidade").val(),
                   "Medida": $("#medida").val(),
                   "Observacao": $("#observacoes").val()
                };
                
                $.ajax
                ({
                  url: "CadastrarMaterial",
                  type : 'POST',
                  data : data,
                  beforeSend : function()
                  {
                   Swal.fire({
                      title: 'Cadastrando...',
                      timer: 10000,
                      onBeforeOpen: () => {
                        Swal.showLoading()
                      },
                      onClose: () => {
                        clearInterval(timerInterval)
                      }
                    })
                  }
                 })
                 .done(function(msg)
                 {
                      $("#DialogText").html(msg);
                 })
                 .fail(function(jqXHR, textStatus, msg)
                 {
                      alert(msg);
                 });
            });
        </script>
    </div>
</div>